<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <ul class="bs-docs-footer-links zh-Hans">
            <!--<li>当前版本： </li>-->
            <!--<li>·</li>-->
            <li><a href="https://github.com/biezhi/nice" target="_blank">站点源码</a></li>
            <li>·</li>
            <li><a href="https://github.com/biezhi/blade" target="_blank">Blade框架</a></li>
            <li>·</li>
            <li><a href="/faq">FAQ</a></li>
            <li>·</li>
            <li><a href="/api">开放API</a></li>
            <li>·</li>
            <li><a href="/about">关于我们</a></li>
            <li>·</li>
            <li><a href="/donate">支持我们</a></li>
        </ul>
        <p>
            Copyright &copy; 2017 <a href="${site_url}">Annal</a>. All rights reserved.
        </p>
    </div>
</footer>
<script type="text/javascript" src="/static/js/jquery.liteuploader.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/mustache.js/2.3.0/mustache.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>